
@{
    ViewBag.Title = "Estadisticas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Estadisticas</h2>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h1>Docotores valorados por los pacientes</h1>
        <iframe width="680" height="510" src="https://app.powerbi.com/view?r=eyJrIjoiMWIwYTQyNWEtNjg1NC00NDU4LThhZmMtMzllNDJlMmIyNjc3IiwidCI6IjdmNTY4Mjc4LTFiMjYtNDZkNC1hMmIzLTk5MTQ2ODVhYzk0MiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
<br /><br /><br />


<div class="row">
    <div class="col-md-offset-2 col-md-3">
        <h1>Promedio de Horas de Atencion (más demandadas)</h1>
        <iframe width="680" height="510" src="https://app.powerbi.com/view?r=eyJrIjoiN2FhOTRkYWQtMTFjMC00MWM3LTg4MjAtMzVhY2QwMTU0YjEyIiwidCI6IjdmNTY4Mjc4LTFiMjYtNDZkNC1hMmIzLTk5MTQ2ODVhYzk0MiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
<br /><br /><br />


<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h1>Servicios más solicitados por los pacientes</h1>
        <iframe width="680" height="510" src="https://app.powerbi.com/view?r=eyJrIjoiMWFkZTUzMDAtOGQ3OS00OWUyLWJiZTktYjlkNGRlOGQwMTk4IiwidCI6IjdmNTY4Mjc4LTFiMjYtNDZkNC1hMmIzLTk5MTQ2ODVhYzk0MiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
<br /><br /><br />


<div class="row">
    <div class="col-md-offset-2 col-md-3">
        <h1>Los pacientes hacen recervaciones por la razón de:</h1>
        <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMzI3OTJkZjAtZDVkZi00NDIxLTgwMjctM2RlZjlhODZhZmE1IiwidCI6IjdmNTY4Mjc4LTFiMjYtNDZkNC1hMmIzLTk5MTQ2ODVhYzk0MiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
<br /><br /><br />

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h1>Promedio de laboratorios más utilizados</h1>
        <iframe width="680" height="510" src="https://app.powerbi.com/view?r=eyJrIjoiNjA0MDg1ZjQtZTM3My00M2Q0LWE4NjAtNTIwNzIwNjc1NTQ5IiwidCI6IjdmNTY4Mjc4LTFiMjYtNDZkNC1hMmIzLTk5MTQ2ODVhYzk0MiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
<br /><br /><br />


<div class="row">
    <div class="col-md-offset-2 col-md-3">
        <h1>Promedio de consultorios más utilizados</h1>
        <iframe width="680" height="510" src="https://app.powerbi.com/view?r=eyJrIjoiMWFiNDAzNDctNjI4My00YTY4LTg3MTQtNzZhMzFlNWViM2QxIiwidCI6IjdmNTY4Mjc4LTFiMjYtNDZkNC1hMmIzLTk5MTQ2ODVhYzk0MiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
