
@{
    ViewBag.Title = "BotPat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BotPat</h2>

<iframe src='https://webchat.botframework.com/embed/Bot_Hospital_Privado?s=5zeJbZFIkyY.cwA.Aqc.-THFt-paN1HaVdfmpXclkom_kW9PfiTmCHAaoMLEWv4' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>

