@model Hospital_Privado.Models.ServiciosModels

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Servicio</h2>

<div>
    <h4>Estas a punto de eliminar un Servicio ¿Estas seguro de hacerlo?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Servicios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicios)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a href="~/ServiciosModels/Index" class="btn" style="background-color:#fd8d0e; color:#fff;">Regresar</a>
            @*Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
