@model Hospital_Privado.Models.ServiciosModels

@{
    ViewBag.Title = "Detalles";
}

<div>
    <h2>Detalles del Servicio</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Servicios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicios)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-warning" style="color:#000;">@Html.ActionLink("Editar", "Edit", new { id = Model.Id })</button>
    <a href="~/ServiciosModels/Index" class="btn" style="background-color:#ed5666; color:#fff;">Regresar</a>
    @*Html.ActionLink("Back to List", "Index")*@
</p>
