@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<link href="~/Content/My_Bootstrap/css/my_css/estilos.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-4">
        <address>
            <img class="img-social" src="~/Content/My_Bootstrap/img/my_img/iconos/whatsapp.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <address>
            <img class="img-social" src="~/Content/My_Bootstrap/img/my_img/iconos/facebook.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <address>
            <img class="img-social img-tw" src="~/Content/My_Bootstrap/img/my_img/iconos/twitter.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <address>
            <img class="img-social" src="~/Content/My_Bootstrap/img/my_img/iconos/github.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <address>
            <img class="img-social" src="../Content/My_Bootstrap/img/my_img/iconos/telegram.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <address>
            <img class="img-social img-tw" src="~/Content/My_Bootstrap/img/my_img/iconos/youtube.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <address>
            <img class="img-social" src="../Content/My_Bootstrap/img/my_img/iconos/localizacion.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <address>
            <img class="img-social" src="../Content/My_Bootstrap/img/my_img/iconos/mensaje.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <address>
            <img class="img-social img-tw" src="../Content/My_Bootstrap/img/my_img/iconos/telefono.png" alt="Alternate Text" />
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>

<script type='text/javascript'>
    var map, baseLayer, tools, currentShape;

    function GetMap() {
        var loc1 = new Microsoft.Maps.Location(19.409116, -99.317112); //Schloßplatz coords
        var navigationBarMode1 = Microsoft.Maps.NavigationBarMode;
        map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'AoTnLEzslSZQ8o8NOVQPsbL6DjGm9CSlgYWdgrC1fGiee7EYEBTZIfBvvxUq1cJJ',
            navigationBarMode: navigationBarMode1.compact, //uncomment to show/hide compact navigation bar
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            center: loc1,
            zoom: 16,
            showBreadcrumb: true
        });

        //Create a base layer to add drawn shapes.
        baseLayer = new Microsoft.Maps.Layer();
        map.layers.insert(baseLayer);

        //Load the DrawingTools module.
        Microsoft.Maps.loadModule('Microsoft.Maps.DrawingTools', function () {
            //Create an instance of the DrawingTools class and bind it to the map.
            tools = new Microsoft.Maps.DrawingTools(map);

            Microsoft.Maps.Events.addHandler(tools, 'drawingChanging', function (e) {
                //When the drawing is changing, clear the base layer.
                baseLayer.clear();
            });


            //When the user presses 'esc', take the polygon out of edit mode and re-add to base map.
            document.getElementById('myMap').onkeypress = function (e) {
                if (e.charCode === 27) {
                    tools.finish(shapeDrawn);
                    currentShape = null;
                }
            };
        });
    }

    function drawPolygon() {
        //Stop any current drawing.
        if (currentShape) {
            tools.finish(shapeDrawn);
            currentShape = null;
        }

        //Create a new polygon.
        tools.create(Microsoft.Maps.DrawingTools.ShapeType.polygon, function (s) {
            currentShape = s;
        });
    }

    function shapeDrawn(s) {
        baseLayer.add(s);
    }
</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
<div class="row">
    <div class="col-md-offset-2 col-md-6">
        <div id='printoutPanel'></div>
        <h1>Aquí nos ubicamos!</h1>
        <h2>BARRIO EL RÍO, S/N, LA MAGDALENA CHICHICASPA, MUNICIPIO DE HUIXQUILUCAN, ESTADO DE MÉXICO C.P. 52773</h2>
        <div id="myMap" style="position:relative;width:600px;height:400px;"></div>
    </div>
</div>

<!--

<div class="row">
    <div class="col-md-offset-2 col-md-6">
        <div id='printoutPanel'></div>
        <h1>Aquí nos ubicamos!</h1>
        <div id='myMap2' style='width: 50vw; height: 50vh;'></div>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-6">
        <div id='printoutPanel'></div>
        <h1>Aquí nos ubicamos!</h1>
        <div id='myMap' style='width: 50vw; height: 50vh;'></div>
    </div>
</div>

<script>
    function loadMapScenario() {
        var loc1 = new Microsoft.Maps.Location(19.409116, -99.317112); //Schloßplatz coords

        var navigationBarMode1 = Microsoft.Maps.NavigationBarMode;
        var map1 = new Microsoft.Maps.Map(document.getElementById('myMap'), {
            credentials: 'AvqB9k1e3BR3NeaSANGCQEuIPQTlTLv7qZVEBqBaZMEOLOa3QgATsL5rcXKuHcQx',
            navigationBarMode: navigationBarMode1.compact, //uncomment to show/hide compact navigation bar
            center: loc1,
            zoom: 16,
            showBreadcrumb: true
        });

        var loc2 = new Microsoft.Maps.Location(19.409116, -99.317112); //Schloßplatz coords

        var navigationBarMode2 = Microsoft.Maps.NavigationBarMode;
        var map2 = new Microsoft.Maps.Map(document.getElementById('myMap2'), {
            credentials: 'AvqB9k1e3BR3NeaSANGCQEuIPQTlTLv7qZVEBqBaZMEOLOa3QgATsL5rcXKuHcQx',
            navigationBarMode: navigationBarMode2.compact, //uncomment to show/hide compact navigation bar
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            center: loc2,
            zoom: 16,
            showBreadcrumb: true
        });
    }

</script>

<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?branch=experimental&callback=loadMapScenario' async defer></script>

    -->
